# Latex
*.aux
*.log
*.synctex.gz
*.dvi
*.toc

# Assets
data/imgs.7z
data/terrain.7z
*.7z

# Jupyter notebook
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints

# mock-sv
mock-sv/mock-sv

# CMake 
build
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# VSCode
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

